body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flashes          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
.script-list    { padding-left:1em; }
#dropbox{
    border: 1px solid grey;
    border-radius: 3px;
    position: relative;
    margin: 80px auto 90px;
    min-height: 29px;
    overflow: hidden;
    padding-bottom: 40px;
    width: 90px;
}


#dropbox .message{
    font-size: 11px;
    text-align: center;
    padding-top: 16px;
    display: block;
}

#dropbox:before{
    border-radius: 3px 3px 0 0;
}

#dropbox .preview{
    width: 24px;
    height: 21px;
    float: left;
    margin: 5px 0 0 6px;
    position: relative;
    text-align: center;
}

#dropbox .preview img{
    max-width: 24px;
    max-height: 18px;
    border: 3px solid #fff;
    display: block;
    box-shadow: 0 0 2px #000;
}

#dropbox .imageHolder{
    display: inline-block;
    position: relative;
}

#dropbox .uploaded{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('done.png') no-repeat center center rgba(255,255,255,0.5);
    display: none;
}

#dropbox .preview.done .uploaded{
    display: block;
}

#dropbox .progressHolder{
    position: absolute;
    background-color:#252f38;
    height: 12px;
    width: 100%;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 2px #000;
}

#dropbox .progress{
    background-color:#2586d0;
    position: absolute;
    height: 100%;
    left: 0;
    width: 0;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

#dropbox .preview.done .progress{
    width: 100% !important;
}
