<!doctype html>
<html>
<head>
    <title>Lista de scripts</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
</head>
<body>
    <h1>Scripts</h1>
    <ul>
        {% for category,values in items %}
            {% if 'description' in values %}
                <p><a id="{{category+'-link'}}" href="#">{{values.description}}</a></p>
            {% else %}
                <p><a id="{{category+'-link'}}" href="#">{{category}}</a></p>
            {% endif %}
            <div id="{{category}}" class="script-list" style="display:none">
                {% for scriptname,script in values.scripts.items() %}
                    <li><a href='/runner/{{scriptname}}'>{{script.title}}</a></li>
                {% endfor %}
            </div>
        {% endfor %}
    </ul>
<script>
    {% for tag,values in items %}
        $("#{{tag}}-link").click(function(){
            if ($("#{{tag}}").css("display")=="none"){
                $("#{{tag}}").show("slow");
            }
            else {
                $("#{{tag}}").hide("slow");
            }
        }
        );
    {% endfor %}
</script>
</body>
</html>

