<html>
<head>
<title>Lista de scripts</title>
</head>
<body>
<h1>Scripts</h1>
<form method="POST" action="/">
    <lu>
    {% for scriptname,script in items %}
        <li>{{script.description}}</a>
        {% if 'parameters' in script %}
            {% for parm in range(0,script.parameters) %}
                {{forms[scriptname].parms.append_entry()}}
            {% endfor %}
            <!-- <input type="submit" name="{{scriptname}}" value="Execute"/>-->
        {% endif %}
        {{ forms[scriptname].submit }}
        </li>    
    {% endfor %}
    </lu>
</form>
</body>
</html>

