<html>
<head>
<title>Lista de scripts</title>
</head>
<body>
<h1>Scripts</h1>
<form method="POST" action="/">
    <ul>
    {% for scriptname,script in items %}
        <li>{{script.description}}</a>
        {% if 'parameters' in script %}
            <ul>
            {% for parm in script.parameters.iterkeys() %}
                <li>{{parm}}{{forms[scriptname].parms.append_entry()}}</li>
            {% endfor %}
            </ul>
        {% endif %}
        </li>    
        {{ forms[scriptname].submit }}
    {% endfor %}
    </ul>
</form>
</body>
</html>

